body{
    margin:0; 
    height:100%;
}

/* MOBILE */


    #leftcolumn .column, #rightcolumn .column{
        display:flex;
        
    }

    #leftcolumn .row, #rightcolumn .row{
        flex:50%;
        position: relative;
    }

    #header .column{
        
        flex:33%;
    }

    #header .row{
        display:flex;
        position: relative;
    }

    .center_container{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    .center_inner{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #header #logo{
        font-family: Acherus Grotesque Regular, sans-serif;
        text-align: center;
        font-size:1em;    
    }

    #header #socials{
        position: absolute;
    top: 50%;
    right:5%;
    transform: translateY(-50%);

    }

    #header .social{
        width:35px;
        vertical-align: middle;
        padding:6px;
        fill:black;
        transition: fill 0.3s;
            
    }

    #header a{
        text-decoration: none;
        font-family: Acherus Grotesque Regular, sans-serif;
        
    }

    #header .social:hover, #header .social:focus{
        fill: lightgray;
    }

    /*LEFT COLUMN*/

    #leftPageBg{
        background-color: white;
        background-image :linear-gradient(45deg,  rgb(12, 245, 116,0.4), rgb(58, 190, 255,0.4),rgb(239, 171, 255,0.4), rgb(236, 5, 142,0.4), rgb(255, 190, 11,0.4));
        background-size: 300%;
        background-position:center;
        height:100vh;
        animation: bg-animation 20s infinite alternate;
    }

    @keyframes bg-animation {
        0% {background-position: left}
        100% {background-position: right}
    }

    #leftcolumn #logo{
        max-width: 500px; margin: 0; margin-bottom: 1em;
        font-size: 40px;
        font-family: Acherus Grotesque Regular, sans-serif;
        color:white;
    }

    #leftcolumn #socials{
        text-align: center;
    }

    #leftcolumn .social{
        width:35px;
        vertical-align: middle;
        padding:6px;
        fill:white;
        transition: fill 0.3s;
            
    }

    #leftcolumn a{
        text-decoration: none;
        font-family: Acherus Grotesque Regular, sans-serif;
        
    }

    #leftcolumn .social:hover, #leftcolumn .social:focus{
        fill: lightgray;
        
    }

    #leftcolumn #emaillink{
        text-decoration: none;
        color:white;
        transition: color 0.3s;
    }

    #leftcolumn #emaillink:hover, #leftcolumn #emaillink:focus{
        color:lightgray;
    }

    #leftcolumn .project{
        text-align: center;
        background-color: white;
        color:black;
        margin-bottom: 1em;
        padding:1em;
        width:300px;
        transition: background-color 0.3s;
    }

    #leftcolumn .project:hover, #leftcolumn .project:focus{
        background-color: lightgray;
    }

    #leftcolumn .project a{
        color: white;
    }

    #leftcolumn a{
        text-decoration: none;
    }

    /*RIGHT COLUMN*/

    #rightPageBg{
        background-image: url('images/texturefabrik_dust-01.png');
        background-position:center;
        background-size:cover; height:100vh
    }

    #rightcolumn #logo{
        max-width: 300px; margin: 0; margin-bottom: 3em;
    }

    #rightcolumn #mc_embed_signup{
        font-size: 30px;
    }

    #rightcolumn #mc-embedded-subscribe{
        font-family: Acherus Grotesque Regular, sans-serif; 
        background-color: white;
        border: none;
        color: black;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
    }

    #rightcolumn #mc-embedded-subscribe:hover, #rightcolumn #mc-embedded-subscribe:focus{
        background-color: lightgray;
    }

    #rightcolumn #mc_embed_signup_scroll{
        text-align: center; color:white; padding:1vw;
    }

    #rightcolumn #mce-FNAME, #rightcolumn #mce-EMAIL{
            margin-top: 1vw; width:20em  ; height:2em; font-family: Acherus Grotesque Regular, sans-serif;
    }

    #rightcolumn #mce-EMAIL{
        margin-bottom: 1vw;
    }

    #rightcolumn #socials{
        text-align: center;
    }

    #rightcolumn .social{
        width:35px;
        vertical-align: middle;
        padding:6px;
        transition: fill 0.3s;
    }

    #rightcolumn a{
        fill:white;
        
        text-decoration: none;
        
    }

    #rightcolumn a :hover, #rightcolumn a :focus{
        fill: lightgray;
    }

    #rightcolumn #emaillink{
        font-family: Acherus Grotesque Regular, sans-serif; 
        text-decoration: none;
        color:white;
        transition: color 0.3s;
    }

    #rightcolumn #emaillink:hover, #rightcolumn #emaillink:focus{
        color:lightgray;
    }


/* DESKTOP */
@media only screen and (min-width: 768px){
    .column{
        flex:50%;
        position: relative;
    }

    #header .column{
        flex:33%;
    }

    .row{
        display:flex;
    }

    .center_container{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    .center_inner{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #header #logo{
        font-family: Acherus Grotesque Regular, sans-serif;
        text-align: center;
        font-size:1.2em;    
    }

    #header #socials{
        position: absolute;
    top: 50%;
    right:5%;
    transform: translateY(-50%);

    }

    #header .social{
        width:35px;
        vertical-align: middle;
        padding:6px;
        fill:black;
        transition: fill 0.3s;
            
    }

    #header a{
        text-decoration: none;
        font-family: Acherus Grotesque Regular, sans-serif;
        
    }

    #header .social:hover, #header .social:focus{
        fill: lightgray;
    }

    /*LEFT COLUMN*/

    #leftPageBg{
        background-color: white;
        background-image :linear-gradient(45deg,  rgb(12, 245, 116,0.4), rgb(58, 190, 255,0.4),rgb(239, 171, 255,0.4), rgb(236, 5, 142,0.4), rgb(255, 190, 11,0.4));
        background-size: 300%;
        background-position:center;
        height:100vh;
        animation: bg-animation 20s infinite alternate;
    }

    @keyframes bg-animation {
        0% {background-position: left}
        100% {background-position: right}
    }

    #leftcolumn #logo{
        max-width: 500px; margin: 0; margin-bottom: 1em;
        font-size: 40px;
        font-family: Acherus Grotesque Regular, sans-serif;
        color:white;
    }

    #leftcolumn #socials{
        text-align: center;
    }

    #leftcolumn .social{
        width:35px;
        vertical-align: middle;
        padding:6px;
        fill:white;
        transition: fill 0.3s;
            
    }

    #leftcolumn a{
        text-decoration: none;
        font-family: Acherus Grotesque Regular, sans-serif;
        
    }

    #leftcolumn .social:hover, #leftcolumn .social:focus{
        fill: lightgray;
        
    }

    #leftcolumn #emaillink{
        text-decoration: none;
        color:white;
        transition: color 0.3s;
    }

    #leftcolumn #emaillink:hover, #leftcolumn #emaillink:focus{
        color:lightgray;
    }

    #leftcolumn .project{
        text-align: center;
        background-color: white;
        color:black;
        margin-bottom: 1em;
        padding:1em;
        width:400px;
        transition: background-color 0.3s;
    }

    #leftcolumn .project:hover, #leftcolumn .project:focus{
        background-color: lightgray;
    }

    #leftcolumn .project a{
        color: white;
    }

    #leftcolumn a{
        text-decoration: none;
    }

    /*RIGHT COLUMN*/

    #rightPageBg{
        background-image: url('images/texturefabrik_dust-01.png');
        background-position:center;
        background-size:cover; height:100%
    }

    #rightcolumn #logo{
        max-width: 500px; margin: 0; margin-bottom: 3em;
    }

    #rightcolumn #mc_embed_signup{
        font-size: 30px;
    }

    #rightcolumn #mc-embedded-subscribe{
        font-family: Acherus Grotesque Regular, sans-serif; 
        background-color: white;
        border: none;
        color: black;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
    }

    #rightcolumn #mc-embedded-subscribe:hover, #rightcolumn #mc-embedded-subscribe:focus{
        background-color: lightgray;
    }

    #rightcolumn #mc_embed_signup_scroll{
        text-align: center; color:white; padding:1vw;
    }

    #rightcolumn #mce-FNAME, #rightcolumn #mce-EMAIL{
            margin-top: 1vw; width:20em  ; height:2em; font-family: Acherus Grotesque Regular, sans-serif;
    }

    #rightcolumn #mce-EMAIL{
        margin-bottom: 1vw;
    }

    #rightcolumn #socials{
        text-align: center;
    }

    #rightcolumn .social{
        width:35px;
        vertical-align: middle;
        padding:6px;
        transition: fill 0.3s;
    }

    #rightcolumn a{
        fill:white;
        
        text-decoration: none;
        
    }

    #rightcolumn a :hover, #rightcolumn a :focus{
        fill: lightgray;
    }

    #rightcolumn #emaillink{
        font-family: Acherus Grotesque Regular, sans-serif; 
        text-decoration: none;
        color:white;
        transition: color 0.3s;
    }

    #rightcolumn #emaillink:hover, #rightcolumn #emaillink:focus{
        color:lightgray;
    }
}