:root{
    --loading-progress: 0%;
    --bg-color: white;
    --bg-color-rgb: 255,255,255;
    --button-color: lightgray;
    --reverse-color: #121212;
    --reverse-color-rgb: 18,18,18;
    --theme-switch-icon: url('images/darkmode.svg');
}

html{
    background-color: var(--bg-color);
    transition: background-color 0.3s;
}

[data-theme="dark"] {
    --bg-color: #121212;
    --bg-color-rgb: 18,18,18;
    --button-color: dimgray;
    --reverse-color: white;
    --reverse-color-rgb: 255,255,255;
    --theme-switch-icon: url('images/lightmode.svg');
    
    .invert-dark{
        filter: invert(1);
    }
}

body{
    font-family: Acherus Grotesque Regular, sans-serif; 
    margin:0; 
    height:100%;
    color:var(--reverse-color);
    fill:var(--reverse-color)
}

#theme-switch{
    position:fixed;
    bottom:0;
    right:0;
    border-radius: 100%;
    background-color: var(--reverse-color);
    width:50px;
    height: 50px;
    z-index: 998;
    margin:1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#theme-switch-icon{
    content: var(--theme-switch-icon);
    width:24px;
    height:24px;
    padding:13px;
}

/* MOBILE */

#loading-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-container{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: var(--reverse-color) 2px solid;
    /* display:flex;
    justify-content: center; */
    align-items: center;
    background:var(--bg-color);
    /* mix-blend-mode: difference; */
    animation: pageopenfade 0.5s;
    /* animation-fill-mode: forwards; */
}

#loading-bar{
    width: calc(var(--loading-progress) + 2%);
    transform: translate(-1%, -1%);
    height: 102%;
    border-radius: 7px;
    background-color: var(--reverse-color);
    transition: width 0.3s;
    /* animation: loadingoverlayfadeout 1s;
    animation-fill-mode: forwards; */
}

#loading-text{
    color:white;
    position:absolute;
    mix-blend-mode: difference;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socialbreak{
    display:block;
}

.hide-on-mobile{
    display:none;
}

.carousel{
    /* max-height:30em; */
    width:calc(100vw - 2em);
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 0 1em;
}

.carousel > .carouselSlide{
    flex-shrink: 0;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    margin-right: 1em;
}

.pipelineWorkCarousel{
    height:30em;
}

.alaCarouselSlide{
    /* max-width: calc(20vw - 2em); */
    max-width: 40vw;
    opacity:0;
    display:flex;
    flex-direction: column;
}

.ala-poster-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pipelineWorkCarouselSlide{
    max-width: calc(75vw - 2em);
}

.carouselSlide > iframe{
    max-width: calc(75vw - 2em);
}

.ALA-project-info > h2{
    margin-bottom: 0;
}

h1, h2, h3{
    text-align: center;
}

.inlinelink{
    text-decoration: underline;
    color: var(--reverse-color);
    transition: color 0.3s;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

hr{
    border-top: 1px; 
    margin-left: 35%; 
    margin-right: 35%;
    margin-top:2em; 
    margin-bottom:2em;
    width:30%;
    color: var(--bg-color);
}

.separator-container{
    width:100%;
    min-width: 100vw;
    overflow: hidden;
}

.separator{
    margin-top:-25px;
    border:none;
    margin-left:-10%;
    margin-right:0;
    width:120%;
    height:25px;
    color:var(--reverse-color);
    background-color: var(--reverse-color);
    box-shadow: 0 12px 6px -6px rgba(var(--reverse-color-rgb),0.3); 
    z-index: -1;
    overflow: hidden;
}

#ALA-work-info{
    opacity: 0;
}

#ALA-logo{
    display:flex;
    margin:2rem auto 0 auto;
    max-height: 6rem;
    max-width: 100%;
    width: fit-content;
}

#ALA-logo img{
    max-height: 6rem;
    height:13vw;
    z-index: 999;
}

.ALA-project-info{
    text-align: center;
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}

@keyframes pageopenfade {
    0%{opacity: 0;}
    100%{opacity: 100;}
}

@keyframes loadingoverlayfadeout {
    0%{opacity: 100;}
    100%{opacity: 0;}
}

.ALA-project-poster{
    max-height: 40rem;
    height:60vw;
    max-width:40vw;
    /* opacity: 0; */
}

.fadein{
    animation: pageopenfade 0.5s;
    animation-fill-mode: forwards;
}


.ALA-project-button-container{
    margin-top:1rem;
}

.ALA-project-button{
    text-align: center;
    background-color: var(--button-color);
    color:var(--reverse-color);
    margin-bottom: 1em;
    padding:1em 2em;
    transition: background-color 0.3s;
}

.ALA-project-button:hover, .ALA-project-button:focus{
    background-color: gray;
}

    #header .column{
        
        flex:33%;
    }

    #header .row{
        display:flex;
        position: relative;
    }

    #header #logo{
        text-align: center;
        font-size:1em;
        flex-direction: column;
    }

    #location{
        font-size: 0.7rem; 
    }

    #header-links{
        position: absolute;
        top: 50%;
        right:5%;
        transform: translateY(-50%);
        display:flex;
        justify-content: center;
        align-items: center;

    }

    #header-links > span,#header-links > div{
        display: inline-block
    }

    #header-links > span{
        margin-right:0.5rem;
    }

    #header-links > span > a{
        text-decoration: none;
        color: var(--reverse-color);
    }

    .social{
        width:1.25rem;
        vertical-align: middle;
        margin:0.2rem;
        /* transition: fill 0.2s;   */
    }

    .headersocial{
        margin-left:0.4rem;
        margin-right:0rem;
    }

    .social:hover, .social:focus{
        fill: lightgray;
    }


    #contact .emaillink{
        text-decoration: none;
        color:var(--reverse-color);
        transition: color 0.3s;
    }

    #contact .emaillink:hover, #contact .emaillink:focus, .inlinelink:hover, .inlinelink:focus{
        color:var(--reverse-color);
    }

    a{
        text-decoration: none;
    }

    #contact .socials{
        text-align: center;
    }

    .emaillink{
        text-decoration: none;
        color:var(--bg-color);
        transition: color 0.3s;
    }

    .emaillink:hover, .emaillink:focus{
        color:var(--reverse-color);
    }

    .cursor-circle{
        display:none;
    }

    #contact .emaillink:hover, #contact .emaillink:focus, .inlinelink:hover, .inlinelink:focus{
        color:lightgray;
    }

    .emaillink:hover, .emaillink:focus{
        color:lightgray;
    }


/* DESKTOP */
@media only screen and (min-width: 768px){


    .ALA-project-button:hover, .ALA-project-button:focus{
        background-color: var(--bg-color);
    }

    .social:hover, .social:focus{
        fill:var(--reverse-color);
    }

    #contact .emaillink:hover, #contact .emaillink:focus, .inlinelink:hover, .inlinelink:focus{
        color:var(--reverse-color);
    }

    .emaillink:hover, .emaillink:focus{
        color:var(--reverse-color);
    }

    body{
        cursor:none;
    }

    a{
        cursor:none;
    }

    input, label{
        cursor:none;
    }

    #theme-switch{
        cursor: none;
    }
    
    .cursor-circle{
        position:fixed;
        height:40px;
        width:40px;
        background-color: white;
        border-radius: 100%;
        top:-20px;
        left:-20px;
        z-index: 999;
        pointer-events:none;

        /* border: white 3px solid; */

        mix-blend-mode: difference;
        /* cursor:none; */
    }

    .ALA-project-poster{
        max-height: 40rem;
        height:25vw;
        max-width:20vw;
    }

    .alaCarouselSlide{
        /* max-width: calc(20vw - 2em); */
        max-width: 20vw;
    }

    #ALA-logo img{
        max-height: 6rem;
        height:9vw;
        z-index: 999;
    }

    .hide-on-mobile{
        display:flex;
    }

    .column{
        flex:50%;
        position: relative;
    }

    #header .column{
        flex:33%;
    }

    .row{
        display:flex;
    }

    #header #logo{
        text-align: center;
        font-size:1.2em;   
        flex-direction: row; 
    }

    #location{
        margin-left: 1rem; 
        padding-left: 1rem;
        border-left: 1px solid var(--reverse-color);
        font-size: 0.7rem;
    }

    .social{
        width:1.5rem;
        margin:0.35rem;
        /* transition: fill 0.3s;   */
    }

    .headersocial{
        margin-left:0.7rem;
        margin-right:0rem;
    }
    .socialbreak{
        display:none;
    }
}